**/logs
!logs/
!logs/migration_report.md
*.log
**/data
**/__pycache__
*.pyc
**/ui/__pycache__
backup/app_backup_20251028_115759.zip
__pycache__/database.cpython-313.pyc
__pycache__/event_bus.cpython-313.pyc
ui/__pycache__/__init__.cpython-313.pyc
ui/__pycache__/attach_part_dialog.cpython-313.pyc
ui/__pycache__/category_manager_dialog.cpython-313.pyc
ui/__pycache__/colleagues_manager_dialog.cpython-313.pyc
ui/__pycache__/counterparties_tab.cpython-313.pyc
ui/__pycache__/counterparty_dialog.cpython-313.pyc
ui/__pycache__/dashboard_tab.cpython-313.pyc
ui/__pycache__/edit_replacement_dialog.cpython-313.pyc
ui/__pycache__/equipment_category_manager_dialog.cpython-313.pyc
ui/__pycache__/equipment_dialog.cpython-313.pyc
ui/__pycache__/equipment_tab.cpython-313.pyc
ui/__pycache__/manual_part_dialog.cpython-313.pyc
ui/__pycache__/order_dialog.cpython-313.pyc
ui/__pycache__/orders_tab.cpython-313.pyc
ui/__pycache__/part_dialog.cpython-313.pyc
ui/__pycache__/part_selection_dialog.cpython-313.pyc
ui/__pycache__/replacement_dialog.cpython-313.pyc
ui/__pycache__/replacement_history_tab.cpython-313.pyc
ui/__pycache__/task_dialog.cpython-313.pyc
ui/__pycache__/tasks_tab.cpython-313.pyc
ui/__pycache__/utils.cpython-313.pyc
ui/__pycache__/warehouse_tab.cpython-313.pyc
